@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.container {
  width: 100%;
  background: var(--light-grey);
  padding: var(--page-side-padding);
  padding-top: var(--page-side-padding-small);

  @media (width < 500px) {
    padding: var(--page-side-padding-small);
  }
}

.content {
  max-width: var(--max-page-width);
  margin: 0 auto;

  & h1 {
    font-size: var(--h1);

    @media (width < 500px) {
      font-size: var(--h2);
    }
  }

  & p,
  & li {
    line-height: 1.5em;

    & a {
      color: var(--blue);
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s all;

      &:hover,
      &:focus,
      &:active {
        color: var(--dark-blue);
        background: var(--yellow);
      }
    }
  }
}
