@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.caption {
  color: var(--light-grey);
  font-size: var(--tiny-text);
  font-weight: lighter;
  text-align: center;
  opacity: 0.6;
  position: fixed;
  top: 60%;
  right: 20px;
  width: 80px;

  @media (width < 768px) {
    top: 45%;
  }

  @media (width < 500px) {
    right: 8px;
    width: 60px;
    font-size: 10px;
  }

  & a {
    text-decoration: none;
    color: var(--light-grey);

    /** Override hover.css to make it translate higher */
    &:hover,
    &:focus,
    &:active {
      transform: translateY(-16px);
    }
  }
}
