@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.logo {
  width: 80px;
  height: 80px;
  padding: var(--page-top-padding) var(--page-top-padding);
  position: fixed;
  color: var(--light-grey);
  font-size: 50px;

  & a {
    text-decoration: none;
    color: var(--light-grey);
  }
}
