@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.logoContainer {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: var(--page-top-padding);
  position: fixed;

  & a {
    text-decoration: none;

    & svg {
      width: 80px;
      height: 80px;
    }
  }
}

.fillDark {
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: ease-out;
  fill: var(--blue);
}

.fillLight {
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: ease-out;
  fill: var(--light-grey);
}
