@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.logoContainer {
  width: 80px;
  height: 80px;
  padding: 0;
  margin: 20px;
  position: fixed;

  @media (width <= 1120px) {
    margin: 10px;
  }

  @media (width <= 500px) {
    display: none;
  }

  & a {
    text-decoration: none;

    &:hover {
      & path {
        fill: var(--dark-blue);
      }
    }

    & svg {
      width: 60px;
      height: 60px;
    }
  }
}

.fillDark {
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: ease-out;
  fill: var(--blue);
}

.fillLight {
  transition-duration: 0.3s;
  transition-property: fill;
  transition-timing-function: ease-out;
  fill: var(--light-grey);
}
