@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.container {
  width: 100%;
  background: var(--light-grey);
  padding: var(--page-side-padding);
  padding-top: var(--page-side-padding-small);

  @media (width <= 500px) {
    padding: var(--page-side-padding-small);
  }
}

.content {
  max-width: var(--max-page-width);
  margin: 0 auto;

  & h1 {
    display: table;
    padding: 10px 20px;
    background: var(--yellow);
    text-transform: uppercase;
    font-size: var(--h1);

    @media (width <= 500px) {
      padding: 5px 10px;
      font-size: var(--h2);
    }
  }

  & p {
    line-height: 1.5em;

    & a {
      color: var(--blue);
      font-weight: bold;
      text-decoration: none;

      /** Needed for color animation on hover */
      transition-duration: 0.3s;
      transition-property: background, color;
      transition-timing-function: ease-out;
      display: inline-block;
      position: relative;
      overflow: hidden;
      vertical-align: middle;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: var(--dark-blue);
        height: 2px;
        transition-property: left right;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover, &:focus, &:active {
        color: var(--dark-blue);
        background: var(--yellow);

        &:before {
          left: 0;
          right: 0;
        }
      }
    }
  }
}
