@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.nav {
  margin: var(--page-top-padding) var(--page-side-padding);
  text-align: right;

  @media (width <= 960px) {
    margin: var(--page-side-padding-small);
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    display: inline-block;
    margin-left: 40px;
    font-family: 'Playfair Display', serif;
    text-transform: lowercase;
  }
  
  & a {
    color: var(--light-grey);
    text-decoration: none;
    text-shadow: 0px 0px 5px var(--black-blue);

    /** Override hover.css to make the line a different color and width */
    &:before {
      background: var(--yellow);
      height: 2px;
    }
  }
}
