@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.nav {
  margin: var(--page-top-padding);
  text-align: right;

  @media (width < 960px) {
    margin: var(--page-side-padding-small);
  }

  & ul {
    margin: 0;
    padding: 0;
  }

  & li {
    display: inline-block;
    margin-left: 30px;
    text-transform: lowercase;
  }

  & a {
    text-decoration: none;
    padding: 10px;

    /** Override hover.css to make the line a different color and width */
    &::before {
      height: 2px;
    }
  }
}

.light {
  color: var(--light-grey);
  text-shadow: 0 0 5px var(--black-blue);

  &::before {
    background: var(--yellow);
  }
}

.dark {
  color: var(--blue);

  &:hover {
    color: var(--dark-blue);
    background: var(--yellow);
  }

  &::before {
    background: var(--dark-blue);
  }
}
