@import '../../static/styles/colours.css';

.hero {
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  display: block;

  & img {
    width: 100%;
    box-shadow: 0 5px 20px -5px var(--dark-grey);

    @media (width <= 500px) {
      width: 100vw;
      position: relative;
      left: -20px;
    }
  }
}
