@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.workItem {
  display: block;
  margin: 40px 0;
  width: 100%;
  padding-bottom: 35%; /** To maintain the aspect ratio of the div */
  position: relative;
  box-shadow: 0 5px 20px -5px var(--dark-grey);

  @media (width < 768px) {
    padding-bottom: initial;
  }

  & a {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: var(--blue);
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    text-decoration: none;

    @media (width < 768px) {
      position: static;
    }

    & img {
      display: block;
      width: 60%;
      height: 100%;
      float: right;
      object-fit: cover;
      filter: brightness(0.95);

      @media (width < 768px) {
        display: block;
        float: none;
        width: 100%;
      }
    }

    &:hover {
      background: var(--blue);
      color: #fff;

      & img {
        filter: brightness(1.05);
      }

      & p {
        color: var(--blue-grey);
      }
    }
  }
}

.blurb {
  margin: 40px 65% 40px 40px;
  position: absolute;
  bottom: 0;

  @media (width < 960px) {
    margin: 20px 65% 20px 20px;
  }

  @media (width < 768px) {
    position: static;
    margin: 0;
    padding: 5px 20px;
    width: 100%;
  }

  & h2 {
    background: none;
    font-size: var(--h2);
    text-transform: none;

    @media (width < 768px) {
      font-size: var(--h3);
    }
  }

  & p {
    color: var(--dark-grey);
    font-size: var(--h5);
  }
}
