@import '../../static/styles/colours.css';
@import '../../static/styles/vars.css';

.intro {
  color: var(--blue);
  font-size: var(--h1);

  @media (width <= 768px) {
    font-size: var(--h2);
  }
}

.profileImage {
  width: 33%;

  @media (width <= 500px) {
    display: block;
    width: 100%;
  }
}
