@import '../../static/styles/colours.css';

.whatIDo {
  text-align: center;
}

.whatIDoItem {
  display: inline-block;
  width: 30%;
  margin: 50px 10px;

  & img {
    display: block;
    width: 240px;
    margin: 0 auto;
  }

  & h2 {
    color: var(--blue);
  }

  @media (width < 960px) {
    display: block;
    width: 100%;
    margin: 50px auto;

    & img {
      width: 60%;
      margin: 0 auto;
    }
  }
}
