:root {
  --light-grey: #e5ebf0;
  --dark-grey: #8fa2ae;
  --blue-grey: #bed8e8;
  --blue: #527ea7;
  --dark-blue: #30537d;
  --black-blue: #171f2c;
  --yellow: #f4e96b;

  --blue-rgba: rgba(82, 126, 167, 0);
}
